.top-cities-report {
  .city {
    align-items: center;
    border: 2px solid var(--owner-primary, #888);
    box-shadow: inset 0 0 0 1px var(--owner-secondary, #555);
    display: grid;
    gap: 0.25rem 1rem;
    grid-template-columns: auto 1fr;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem;

    &.unknown-owner .name {
      font-style: italic;
    }

    .name {
      font-weight: bold;
    }

    .wonders {
      display: flex;
      flex-wrap: wrap;
      gap: 0 0.75rem;
      grid-column: 1 / 3;

      &:empty {
        display: none;
      }
    }
  }
}
