.window {
  background: #edc;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #123;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
  outline: 0;
  overflow: auto;
  position: fixed;

  &.position-auto {
    left: calc(50% - 20em);
    top: 20%;
  }

  &.size-auto {
    max-height: 60%;
    width: 40em;
  }

  > header {
    background: #38e;
    color: #edc;
    display: flex;
    font-weight: bold;
    padding: .5em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);

    h3 {
      flex-grow: 1;
      margin: 0;
    }

    > button {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 95%;
      border: 1px solid #444;
      border-radius: 3px;
      font-size: 0;
      height: 1.3rem;
      margin-right: 0.33rem;
      padding: 0;
      width: 1.3rem;

      &:last-child {
        margin-right: 0;
      }

      &.close {
        background-image: url('feather-icons/dist/icons/x.svg');
      }

      &.maximise {
        background-image: url('feather-icons/dist/icons/maximize.svg');
      }
    }
  }

  &.maximised {
    border: 0;
    border-radius: 0;
    height: 100%;
    left: 0 !important;
    max-height: none;
    top: 0 !important;
    width: 100%;

    > header > button.maximise {
      background-image: url('feather-icons/dist/icons/minimize.svg');
    }
  }

  p {
    overflow-y: auto;
    margin: 0;
    padding: 1em .5em;
    max-height: 20em;
  }

  :not(header) button {
    margin: 1em .5em;
  }
}
